# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [12]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:
pokemon.pivot_table(index = ["Legendary"], values=["Total"], aggfunc=(["mean","std"]))

                 mean         std
                Total       Total
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
# Your code here:
x=pokemon["Total"][pokemon["Legendary"]==False]
y=pokemon["Total"][pokemon.Legendary==True]
st.ttest_ind(x,y,equal_var = False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
"""This is a two-sided test for the null hypothesis that 2 independent 
samples have identical average. so with this mega low pvalue we reject ho"""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [18]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
# Your code here:
display(pokemon["Total"][pokemon["Type 1"]=="Water"].mean())
display(pokemon["Total"][pokemon["Type 1"]=="Water"].std())
display(pokemon["Total"][pokemon["Type 1"]!="Water"].mean())
display(pokemon["Total"][pokemon["Type 1"]!="Water"].std())

430.45535714285717

113.1882660643146

435.85901162790697

121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [22]:
# Your code here:
x=pokemon["Total"][pokemon["Type 1"]=="Water"]
y=pokemon["Total"][pokemon["Type 1"]!="Water"]
st.ttest_ind(x,y)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:

"""high p value, low stat we dont reject ho which is that they have same average"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [23]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [24]:
# Your code here:
x=pokemon["Attack"]
y=pokemon["Defense"]
st.ttest_ind(x,y)

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321456)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
"""low p value so with a 95% confidence we can reject ho being average 
of attack and defense are equal"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
# Your code here:

x=pokemon["Sp. Atk"]
y=pokemon["Sp. Def"]
st.ttest_ind(x,y)

Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
"""we dont reject ho being average are equal"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [31]:
# Your code here:
x=pokemon["Attack"]
y=pokemon["Defense"]
z=pokemon["Attack"]-pokemon["Defense"]
st.ttest_1samp(z,0)
"""extremely unlikely that we see the diff =0 btw attack and defense"""

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [33]:
# Your code here:
cont_table=pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=="Water")
cont_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [34]:
# Your code here:

st.chi2_contingency(cont_table)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:
"""chi2 : float

The test statistic.

p : float

The p-value of the test

dof : int

Degrees of freedom

expected : ndarray, same shape as observed

The expected frequencies, based on the marginal sums of the table."""
#so at 95% we can not reject the null hypothesis, but it s close(0.08)